streamlit
langchain>=0.3.0
langchain-community
langchain-chroma
langchain-google-genai
langchain-huggingface
chromadb
google-generativeai
beautifulsoup4
requests
python-dotenv
GitPython
sentence-transformers
torch
torchvision