streamlit
langchain>=1.2.0
langchain-community
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-classic
chromadb
google-generativeai
beautifulsoup4
requests
python-dotenv
GitPython
sentence-transformers
torch
torchvision